
.alt(ng-class="[ selectedWorldClass ]"): .page-width
    h1 Welcome to AngularJS Boilerplate
    h2 Written By 
        span
            | Maborukoje Adebayo
    h3 Check the repository on 
        a(href="https://github.com/andela-amaborukoje/Angular_Boilerplate_Jade_Stylus") Github
    h3 Follow me 
        a(href="http://twitter.com/itz_herdeyberyor") twitter
    h3 Or like my Profile on 
        a(href="http://facebook.com/maborukoje.adebayo2004") facebook